* {
    font-family: Comic Sans, Comic Sans MS, cursive !important
}
body {
    background-image: url('../images/background.png');
}
.container {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5px;
    margin: 10px auto;
}
form {
    margin: 10px auto;
}